@media (max-width: 1255px) {
  .roadmap::after {
    left: -80px;
  }
}

@media (max-width: 1235px) {
  .roadmap {
    padding-left: 50px;
  }
}

@media (max-width: 1215px) {
  .roadmap {
    padding-left: 60px;
  }
}

@media (max-width: 1180px) {
  .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
  }

  .roadmap-item-connect::before {
    width: 1055px;
    bottom: -114px;
    right: 25px;
  }
  .roadmap-item-connect::after {
    bottom: -114px;
    right: 24px;
  }
  .roadmap-item-connect-last::before {
    width: 554px;
    bottom: -114px;
    right: 25px;
  }
  .roadmap-item-connect-last::after {
    bottom: -114px;
    right: 23px;
  }
  .roadmap {
    padding-bottom: 90px;
  }
}
@media (max-width: 1165px) {
  .how-to-buy-item {
    width: 520px;
  }
  .hero {
    background-position: left top, right bottom, 40% 0, 85% 45%, 5% 0, 100% 0,
      3% 0, 0 0;
  }
}
@media (max-width: 1135px) {
  .roadmap-item-connect::before {
    width: 1055px;
    bottom: -114px;
    right: 20px;
  }
  .roadmap-item-connect::after {
    bottom: -114px;
    right: 20px;
  }
  .roadmap-item-connect-last::before {
    width: 554px;
    bottom: -114px;
    right: 20px;
  }
  .roadmap-item-connect-last::after {
    bottom: -114px;
    right: 20px;
  }
}
@media (max-width: 1125px) {
  .roadmap-item-connect::before {
    right: 16px;
  }
  .roadmap-item-connect::after {
    right: 16px;
  }
  .roadmap-item-connect-last::before {
    right: 16px;
  }
  .roadmap-item-connect-last::after {
    right: 16px;
  }
  .how-to-buy-item {
    width: 500px;
  }
}
@media (max-width: 1125px) {
  .roadmap-item-connect::before {
    right: 16px;
  }
  .roadmap-item-connect::after {
    right: 16px;
  }
  .roadmap-item-connect-last::before {
    right: 16px;
  }
  .roadmap-item-connect-last::after {
    right: 16px;
  }
  .how-to-buy-item {
    width: 500px;
  }
}
@media (max-width: 1120px) {
  .roadmap-item-connect::before {
    right: 30px;
    width: 990px;
  }
  .roadmap-item-connect::after {
    right: 30px;
  }
  .roadmap-item-connect-last::before {
    right: 30px;
  }
  .roadmap-item-connect-last::after {
    right: 30px;
  }

  .roadmap-item-wrapper::after {
    content: "";
    position: absolute;
    width: 480px;
    height: 1px;
    background-color: #ffffffd2;
    bottom: -60px;
    left: -20px;
  }
  .roadmap {
    padding-left: 70px;
  }
  .container {
    max-width: 1020px;
  }
  .hero-list {
    gap: 18px;
  }
  .hero-item {
    padding: 20px;
  }
}

@media (max-width: 1092px) {
  .roadmap {
    padding-left: 50px;
    padding-top: 120px;
  }
  .roadmap-item-connect-last::before {
    right: 30px;
    width: 500px;
  }
  .hero {
    padding-bottom: 20px;
  }
  .how-to-buy-item {
    width: 480px;
    font-size: 22px;
  }
  .how-to-buy-list {
    width: unset;
  }
}

@media (max-width: 1080px) {
  .hero-title {
    font-size: 56px;
  }
  .how-to-buy-title {
    font-size: 50px;
  }
  .roadmap-title {
    font-size: 56px;
  }
  .roadmap {
    padding-bottom: 60px;
  }
}
@media (max-width: 1065px) {
  .roadmap-item-wrapper::after {
    width: 452px;
  }
  .container {
    max-width: 965px;
  }
  .who-we-are-left {
    padding-left: 24px;
    padding-top: 72px;
    padding-right: 61px;
    padding-bottom: 72px;
    height: unset;
  }
  .hero-title {
    font-size: 54;
  }
  .who-we-are {
    padding-top: 30px;
  }
  .who-we-are-title {
    font-size: 50px;
  }
  .hero-item {
    padding: 18px;
  }
  .who-we-are-item {
    padding: 15px 48px 15px 16px;
    height: unset;
    font-size: 19px;
  }
  .base-btn {
    width: 242px;
    height: 68px;
  }
  .how-to-buy-title {
    font-size: 46px;
  }
  .how-to-buy-item-num {
    height: 70px;
    width: 70px;
  }
  .how-to-buy-item {
    height: 110px;
    padding-left: 105px;
  }
  .how-to-but-item-middle::after {
    top: 117px;
  }
  .roadmap-item-connect::before {
    right: 30px;
    width: 935px;
  }
  .roadmap-item-title {
    font-size: 26px;
  }
  .roadmap-item-bullet {
    font-size: 19px;
  }
  .roadmap-item-bullet-1::before {
    bottom: -325px;
  }
  .roadmap-item-bullet-2::before {
    bottom: -252px;
  }
  .roadmap-item-bullet-3::before {
    bottom: -179px;
  }
  .roadmap-item-bullet-4::before {
    bottom: -107px;
  }
  .roadmap-item-bullet-1::after {
    height: 265px;
  }
  .roadmap-item-bullet-2::after {
    height: 192px;
  }
  .roadmap-item-bullet-3::after {
    height: 129px;
  }
  .roadmap-item-bullet-4::after {
    height: 66px;
  }
}
@media (max-width: 1025px) {
  .hero-btn {
    margin-bottom: 50px;
  }
  .who-we-are-left {
    padding-left: 24px;
    padding-top: 52px;
    padding-right: 61px;
    padding-bottom: 52px;
    height: unset;
  }
  .who-we-are-title {
    font-size: 46px;
  }
  .who-we-are-item {
    font-size: 16px;
  }
  .how-to-buy-title {
    font-size: 42px;
  }
  .how-to-buy-item {
    width: 440px;
  }
  .roadmap {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1015px) {
  .container {
    max-width: 930px;
  }
  .hero-title {
    font-size: 50px;
    max-width: 650px;
    line-height: 50px;
  }
  .nav_list {
    gap: 40px;
  }
  .hero-list {
    gap: 15px;
  }
  .hero-icon {
    margin-bottom: 12px;
  }
  .hero-item-title {
    margin-bottom: 10px;
  }
  .hero-item {
    list-style: none;
    max-width: 280px;
    width: 100%;
    padding: 12px;
    height: unset;
  }
  .who-we-are-title {
    font-size: 42px;
  }
  .base-btn {
    width: 232px;
    height: 60px;
  }
  .how-to-buy {
    background-size: 25%, 40%, auto, auto, auto, auto, auto, auto, auto, auto,
      auto;
  }
  .how-to-buy-title {
    margin-bottom: 40px;
  }
  .how-to-buy-item-num {
    width: 60px;
    height: 60px;
    font-size: 30px;
    left: 12px;
    top: 12px;
  }
  .how-to-buy-item {
    height: 84px;
    padding-left: 80px;
  }
  .how-to-but-item-middle::after {
    top: 92px;
  }
  .how-to-buy-list {
    margin-bottom: 90px;
  }
  .roadmap-title {
    font-size: 52px;
  }
  .roadmap-item-title {
    margin-bottom: 35px;
  }
  .roadmap-item-bullet {
    margin-bottom: 22px;
  }
  .roadmap-item::after {
    height: 335px;
  }

  .roadmap-item::before {
    bottom: 35px;
  }
  .roadmap-item-wrapper::after {
    bottom: -35px;
  }
  .roadmap-item-bullet-1::after {
    height: 265px;
    top: 65px;
  }
  .roadmap-item-bullet-1::before {
    bottom: -311px;
  }
  .roadmap-item-bullet-2::before {
    bottom: -245px;
  }
  .roadmap-item-bullet-2::after {
    height: 184px;
  }
  .roadmap-item-bullet-4::before {
    bottom: -113px;
  }
  .roadmap-item-bullet-4::after {
    height: 73px;
  }
  .roadmap-item-bullet-1 {
    margin-left: 15px;
    position: relative;
  }
  .roadmap-item-bullet-2 {
    margin-left: 65px;
    position: relative;
  }
  .roadmap-item-bullet-3 {
    margin-left: 115px;
    position: relative;
  }
  .roadmap-item-bullet-4 {
    margin-left: 165px;
    position: relative;
  }
  .roadmap-item-wrapper::after {
    width: 434px;
  }
  .roadmap-item-connect::after {
    bottom: -89px;
  }
  .roadmap-item-connect::before {
    right: 30px;
    width: 899px;
    bottom: -89px;
  }
  .roadmap-item {
    margin-bottom: 24px;
  }
  .roadmap-item-connect-last::after {
    bottom: -90px;
  }
  .roadmap-item-connect-last::before {
    width: 455px;
    bottom: -91px;
  }
  .contacts-title {
    font-size: 42px;
  }
}

@media (max-width: 975px) {
  .link-icon {
    width: 50px;
    height: 50px;
  }
  .contact-item {
    width: 50px;
    height: 50px;
  }
  .contacts-list {
    gap: 12px;
  }
  .contacts-title {
    margin: 0;
    margin-bottom: 30px;
  }
  .container {
    max-width: 800px;
  }
  .pill {
    width: 180px;
    height: 45px;
  }
  .roll-section {
    padding: 2px;
  }
  .base-btn {
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .roadmap {
    padding-left: 60px;
  }
  .roadmap-list {
    padding: 0;
  }
  .roadmap-item-title {
    margin-left: -15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -2.89px;
  }
  .roadmap-item-connect::after {
    right: -14px;
  }

  .roadmap-item-bullet-1 {
    margin-left: 16px;
    position: relative;
  }
  .roadmap-item-bullet-2 {
    margin-left: 52px;
  }
  .roadmap-item-bullet-3 {
    margin-left: 90px;
    position: relative;
  }
  .roadmap-item-bullet-4 {
    margin-left: 129px;
    position: relative;
  }

  .roadmap-item::after {
    left: -20px;
  }
  .roadmap-item::before {
    left: -40px;
    width: 40px;
    height: 40px;
    bottom: 40px;
  }
  .roadmap-item-wrapper::after {
    width: 370px;
  }
  .roadmap-item-connect::after {
    right: 39px;
  }
  .roadmap-item-connect::before {
    right: 40px;
    width: 780px;
    bottom: -89px;
  }
  .roadmap-item-title-glow {
    font-size: 25px;
  }
  .roadmap-item-connect-last::after {
    right: 40px;
  }
  .roadmap-item-connect-last::before {
    width: 370px;
    bottom: -90px;
    right: 40px;
  }
  .hero-item {
    max-width: 240px;
  }
  .who-we-are-left {
    padding-left: 20px;
    padding-top: 42px;
    padding-right: 31px;
    padding-bottom: 42px;
    height: 320px;
    width: 100%;
  }
  .who-we-are-title {
    font-size: 38px;
  }
  .who-we-are-descr {
    font-size: 17px;
  }
  .who-we-are-item {
    padding: 12px;
    height: unset;
    font-size: 18px;
  }
  .roadmap-item-wrapper::after {
    left: -10px;
  }
}
@media (max-width: 890px) {
  .hero-title {
    font-size: 46px;
  }
}
@media (max-width: 860px) {
  .container {
    max-width: 700px;
  }
  .hero-descr {
    max-width: 410px;
  }
  .hero-title {
    font-size: 42px;
  }
  .who-we-are-item {
    padding: 13px 12px 12px 12px;
    height: unset;
    font-size: 16px;
  }
  .base-btn {
    width: 212px;
    height: 50px;
    font-size: 22px;
  }
  .how-to-buy-title {
    font-size: 39px;
  }
  .roadmap-item-title {
    margin-left: -15px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -2.19px;
  }
  .roadmap-item-bullet {
    font-size: 18px;
    max-width: 330px;
    letter-spacing: -1.5px;
  }
  .roadmap-item-bullet-2::before {
    bottom: -247px;
  }
  .roadmap-item-bullet-3::before {
    bottom: -184px;
  }
  .roadmap-item-bullet-4::before {
    bottom: -120px;
  }
  .roadmap-item-connect::after {
    right: -11px;
  }
  .roadmap-item-connect::before {
    right: -10px;
    width: 732px;
    bottom: -89px;
  }
  .roadmap-item-connect-last::after {
    right: -10px;
  }
  .roadmap-item-connect-last::before {
    width: 370px;
    bottom: -90px;
    right: -9px;
  }
  .roadmap-item-bullet-1 {
    margin-left: 10px;
    position: relative;
  }
  .roadmap-item-bullet-2 {
    margin-left: 42px;
  }
  .roadmap-item-bullet-3 {
    margin-left: 74px;
    position: relative;
  }
  .roadmap-item-bullet-4 {
    margin-left: 106px;
    position: relative;
  }
}
@media (max-width: 790px) {
  .roadmap-item-connect::after {
    right: 5px;
  }
  .roadmap-item-wrapper::after {
    width: 354px;
  }
  .roadmap-item-connect::before {
    right: 6px;
    width: 714px;
    bottom: -89px;
  }
  .roadmap-item-connect-last::after {
    right: 6px;
  }
  .roadmap-item-connect-last::before {
    width: 356px;
    bottom: -90px;
    right: 7px;
  }
  .roadmap-title {
    font-size: 46px;
  }
}

@media (max-width: 760px) {
  .container {
    max-width: 560px;
  }
  .nav_list {
    gap: 30px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-title {
    max-width: 354px;
    line-height: 43px;
  }
  .hero-descr {
    max-width: 340px;
  }
  .hero {
    background-size: 25%, 35%, auto, auto, auto, auto, auto, auto;
  }
  .hero-list {
    flex-direction: column;
    gap: 16px;
  }
  .hero-item-wrapper {
    position: relative;
  }
  .hero-icon {
    position: absolute;
    top: 35px;
  }
  .hero-item {
    max-width: 500px;
  }
  .hero-item-descr {
    min-width: 500px;
    padding-left: 40px;
  }
  .hero-item-title {
    margin-bottom: 5px;
    text-align: center;
  }
  .hero-icon {
    width: 24px;
    height: 24px;
  }
  .who-we-are-wrapper {
    flex-direction: column;
  }
  .who-we-are-title {
    text-align: center;
    margin-bottom: 16px;
  }
  .who-we-are-left {
    height: 240px;
    margin-bottom: 0;
  }
  .who-we-are-right {
    width: 100%;
    max-width: 600px;
  }
  .who-we-are-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .who-we-are-item {
    width: 48%;
  }
  .how-to-buy-item-num {
    height: 45px;
    width: 45px;
    font-size: 20px;
    left: 8px;
    top: 8px;
    border-radius: 12px;
  }
  .how-to-buy-item {
    height: 62px;
    padding-left: 60px;
  }
  .how-to-buy-item {
    max-width: 370px;
    width: 480px;
    font-size: 19px;
  }
  .pill {
    width: 167px;
    height: 40px;
    font-size: 20px;
  }
  .roadmap-title {
    font-size: 40px;
  }
  .how-to-but-item-middle::after {
    top: 70px;
  }
  .roadmap-list {
    flex-direction: column;
  }
  .roadmap-item-title {
    max-width: 500px;
  }
  .roadmap-item {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 6px;
  }
  .roadmap-item::after {
    height: 275px;
  }
  .roadmap-item::before {
    bottom: 14px;
  }
  .roadmap-item-bullet {
    max-width: 500px;
    width: 100%;
    min-height: 40px;
  }
  .roadmap-item-wrapper::after {
    bottom: 30px;
  }
  .roadmap-item-bullet-1::before {
    bottom: -247px;
  }
  .roadmap-item-bullet-1::after {
    height: 200px;
    top: 65px;
  }
  .roadmap-item-bullet-2::before {
    bottom: -186px;
  }
  .roadmap-item-bullet-2::after {
    height: 122px;
  }
  .roadmap-item-bullet-3::before {
    bottom: -123px;
  }
  .roadmap-item-bullet-3::after {
    height: 90px;
  }
  .roadmap-item-bullet-4::before {
    bottom: -60px;
  }
  .roadmap-item-bullet-4::after {
    height: 36px;
  }
  .roadmap-item-bullet-1 {
    margin-left: 30px;
    position: relative;
  }
  .roadmap-item-bullet-2 {
    margin-left: 78px;
  }
  .roadmap-item-bullet-3 {
    margin-left: 125px;
    position: relative;
  }
  .roadmap-item-bullet-4 {
    margin-left: 172px;
    position: relative;
  }
  .roadmap-item-wrapper::after {
    width: 500px;
  }
  .roadmap-item-connect2::before {
    content: "";
    position: absolute;
    width: 291px;
    height: 1px;
    background-color: #ffffffc5;
    bottom: -25px;
    right: 30px;
  }
  .roadmap-item-connect2::after {
    content: "";
    position: absolute;
    height: 55px;
    width: 1px;
    background-color: #ffffffc5;
    bottom: -25px;
    right: 30px;
  }
  .roadmap-item-connect::after {
    right: 30px;
    bottom: -25px;
  }
  .roadmap-item-connect::before {
    right: 30px;
    width: 290px;
    bottom: -25px;
  }
  .roadmap-item-connect-last::after {
    right: 30px;
    bottom: -25px;
  }
  .roadmap-item-connect-last::before {
    width: 109px;
    bottom: -25px;
    right: 30px;
  }
  .beyond-roadmap-item-right::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    left: -105px;
  }
  .beyond-roadmap-item-left::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    left: 256px;
    border-radius: 50%;
  }
  .beyond-roadmap-item-left::after {
    content: "";
    position: absolute;
    left: 197px;
    top: 10px;
    width: 58px;
    height: 1px;
    background: linear-gradient(
      to left,
      rgba(153, 153, 153, 0.8) 0%,
      rgba(255, 255, 255, 0.25) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .beyond-roadmap-item-right::after {
    content: "";
    position: absolute;
    left: -85px;
    top: 10px;
    width: 95px;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(153, 153, 153, 0.8) 0%,
      rgba(255, 255, 255, 0.25) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .beyond-roadmap-item-right {
    margin-left: 360px;
    position: relative;
  }
  .beyond-roadmap {
    gap: 11px;
  }
  .contacts-title {
    font-size: 36px;
  }
}
@media (max-width: 700px) {
  .hero-item-descr {
    min-width: 470px;
    padding-left: 40px;
  }
  .beyond-roadmap {
    gap: 11px;
    margin-left: -30px;
  }
  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 370px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 80px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 57px;
    z-index: 2;
  }
  .beyond-roadmap-item-right {
    margin-left: 360px;
    position: relative;
    max-width: 205px;
  }
}
@media (max-width: 620px) {
  .roadmap::after {
    display: none;
  }
  .roadmap::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 500px;
    padding: 0 5px;
  }
  .roadmap-item-wrapper::after {
    width: 460px;
  }
  .beyond-roadmap-item-right {
    margin-left: 262px;
    position: relative;
    max-width: 205px;
  }
  .beyond-roadmap-item-right::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    left: -67px;
  }
  .beyond-roadmap-item-left::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    left: 195px;
    border-radius: 50%;
  }
  .beyond-roadmap-item-right::after {
    content: "";
    position: absolute;
    left: -47px;
    top: 10px;
    width: 58px;
    height: 1px;
  }
  .beyond-roadmap-item-left::after {
    content: "";
    position: absolute;
    left: 136px;
  }
  .roadmap-item-connect-last::before {
    width: 73px;
    bottom: -25px;
    right: 30px;
  }
  .beyond-roadmap {
    font-size: 18px;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 400px;
    padding: 0 10px;
  }
  .header {
    max-width: 380px;
  }
  .nav_list {
    gap: 20px;
  }
  .nav-link {
    font-size: 15px;
  }
  .hero-title {
    max-width: 354px;
    line-height: 35px;
    font-size: 39px;
  }
  .hero-descr {
    margin-bottom: 35px;
  }
  .hero-item-descr {
    min-width: 350px;
    padding-left: 40px;
    min-height: 60px;
  }
  .hero-list {
    flex-direction: column;
    gap: 5px;
  }
  .who-we-are-left {
    padding-left: 20px;
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 42px;
    height: 210px;
  }
  .who-we-are-title {
    font-size: 34px;
  }
  .who-we-are-descr {
    font-size: 16px;
  }
  .how-to-buy-title {
    font-size: 35px;
  }
  .how-to-buy-item-num {
    height: 35px;
    width: 35px;
    font-size: 16px;
    left: 6px;
    top: 6px;
    border-radius: 14px;
  }
  .how-to-buy-item {
    height: 48px;
    padding-left: 45px;
    max-width: 350px;
  }
  .how-to-buy-list {
    gap: 50px;
    margin-bottom: 40px;
  }
  .how-to-but-item-middle::before {
    position: absolute;
    content: "";
    height: 42px;
    width: 3px;
    background-image: url(../assets/img/Line1.png);
    top: -38px;
    left: 50%;
  }
  .how-to-but-item-middle::after {
    top: 52px;
    height: 43px;
    width: 3px;
  }
  .roadmap {
    padding-left: 24px;
  }
  .roadmap-title {
    font-size: 35px;
    margin-left: -24px;
    margin-bottom: 40px;
  }
  .pill {
    width: 134px;
    height: 33px;
    font-size: 16px;
  }
  .roadmap-item-bullet-1 {
    margin-left: 18px;
    position: relative;
  }

  .roadmap-item-bullet-2 {
    margin-left: 59px;
  }
  .roadmap-item-bullet-3 {
    margin-left: 100px;
    position: relative;
  }
  .roadmap-item-bullet-4 {
    margin-left: 140px;
    position: relative;
  }
  .roadmap-item-bullet {
    max-width: 320px;
    width: 100%;
    min-height: 40px;
  }
  .roadmap-item-title {
    margin-bottom: 20px;
  }
  .roadmap-item-wrapper::after {
    bottom: 41px;
  }
  .roadmap-item-bullet-1::before {
    bottom: -250px;
  }
  .roadmap-item::before {
    bottom: 24px;
  }
  .roadmap-item::after {
    height: 257px;
  }
  .roadmap-item-wrapper::after {
    width: 340px;
  }
  .roadmap-item-connect2::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 1px;
    background-color: #ffffffc5;
    bottom: 1px;
    right: 6px;
  }
  .roadmap-item {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: -20px;
  }
  .roadmap-item-connect2::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 1px;
    background-color: #ffffffc5;
    bottom: 1px;
    right: 6px;
  }
  .roadmap-item-connect::after {
    right: 5px;
    bottom: 2px;
    height: 40px;
  }
  .roadmap-item-connect::before {
    right: 5px;
    width: 180px;
    bottom: 2px;
  }
  .roadmap-item-connect-last::after {
    right: 5px;
    bottom: 2px;
    height: 40px;
  }
  .roadmap-item-connect-last::before {
    width: 40px;
    bottom: 2px;
    right: 6px;
  }
  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 395px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 100px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 77px;
    z-index: 2;
  }
  .beyond-roadmap-item-right {
    margin-left: 243px;
    position: relative;
    max-width: 205px;
  }
  .beyond-roadmap-item-left {
    position: relative;
    height: 46px;
    max-width: 165px;
  }
  .beyond-roadmap-item-left::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    left: 175px;
    border-radius: 50%;
  }
  .beyond-roadmap-item-left::after {
    content: "";
    position: absolute;
    left: 116px;
  }
  .contacts-title {
    font-size: 33px;
  }
  .contacts-list {
    gap: 12px;
    flex-wrap: wrap;
    max-width: 236px;
    margin-bottom: 50px;
  }
  .contact-btn {
    background-color: #060606;
    border: none;
    border: 1px solid #ffffff42;
    border-radius: 15px;
    width: 185px;
    height: 50px;
  }
  .roadmap-item-wrapper::after {
    width: 364px;
  }

  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 395px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 88px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 66px;
    z-index: 2;
  }
}
@media (max-width: 425px) {
  .roadmap-item-wrapper::after {
    width: 359px;
  }
  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 395px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 91px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 68px;
    z-index: 2;
  }
  .container {
    max-width: 360px;
    padding: 0 4px;
  }
  .roadmap-item-wrapper::after {
    width: 348px;
  }
  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 395px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 97px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 74px;
    z-index: 2;
  }
}
@media (max-width: 400px) {
  .roadmap {
    padding-left: 32px;
  }
}

@media (max-width: 391px) {
  .container {
    max-width: 340px;
    padding: 0 4px;
  }
  .roadmap-item-wrapper::after {
    width: 328px;
  }
  .roadmap-item-title {
    margin-left: -15px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -2.19px;
  }
  .beyond-roadmap-title::after {
    content: "";
    width: 1px;
    height: 395px;
    position: absolute;
    background-color: #fff;
    top: 55px;
    left: 106px;
  }
  .beyond-roadmap-title::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url(../assets/img/arrow.png);
    background-size: cover;
    border-radius: 50%;
    top: 55px;
    left: 84px;
    z-index: 2;
  }
}
